.cover__subtitle {
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin: 0;
    color: #FFF;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 767px) and (min-width: 321px) {
    .cover__subtitle {
        font-size: 15px;
    }
}


@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        white-space: pre-wrap;
    }
}